<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta content="Rails Girls Taiwan" property="og:site_name">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Rails Girls Taiwan</title>
    <meta name="description" content="">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="cleartype" content="on">
    {% if page.title %}
      <meta content="article" property="og:type">
    {% else %}
      <meta content="website" property="og:type">
    {% endif %}
    {% if page.url %}
      <meta content="{{ site.url }}{{ page.url }}" property="og:url">
    {% endif %}
    
    {% if page.title %}
      <meta content="{{ page.title }}" property="og:title">
    {% else %}
      <meta content="{{ site.title }}" property="og:title">
    {% endif %}
    {% if page.image %}
      <meta content="{{ site.url }}/images/posts/{{ page.image }}" property="og:image">
    {% else %}
      <meta content="{{ site.url }}/images/RG2014LOGO500x500.jpg" property="og:image">
    {% endif %}

    <link rel="shortcut icon" href="/favicon.png"/>

    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script src="/js/prefixfree.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery-1.10.2.min.js"><\/script>')</script>
    <script src="/js/jquery.cookie.js"></script>
    <script src="/js/guides.js"></script>

    <link rel="stylesheet" href="/css/bootstrap.css"/>
    <link rel="stylesheet" href="/css/bootstrap-responsive.css" />
    <link rel="stylesheet" href="/css/code.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
  </head>
<body>
<!--[if lt IE 8]>
    <p>您正在使用一個<strong>過時的</strong>瀏覽器。請<a href="http://browsehappy.com/">升級您的瀏覽器</a>或是<a href="http://www.google.com/chromeframe/?redirect=true">試用 Google Chrome 內嵌框架</a>來改善您的瀏覽體驗。</p>
<![endif]-->
<header>
  <div class="container">
    <a class="span3" href="http://railsgirls.tw/" id="logo">
      <img alt="Rails Girls Taiwan" src="/images/railsgirls-guides.png"/>
    </a>
    <nav>
      <span>正體中文</span>
      <a href="/">Home</a>
      <a href="/events/">Events</a>
      <a href="/about/">About</a>
      <a href="/blog/">Blog</a>
    </nav>
  </div>
</header>
